{% extends "main.html" %}
{% load static %}

{% block content %}
    <header>
        <h1>Login to Your Account</h1>
    </header>

    <section>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>

        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>

        {% comment %} <!-- Check if user is authenticated to display the Edit Profile button -->
        {% if user.is_authenticated %}
            <h2>Welcome back, {{ user.first_name }}!</h2>
            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
        {% endif %} {% endcomment %}
    </section>

{% endblock %}
