{% extends "main.html" %}
{% load static %}

{% block title %}View Profile{% endblock %}

{% block content %}
    <header>
        <h1>{{ user.first_name }}'s Profile</h1>
    </header>

    <section>
        <h3>Account Information</h3>
        <p>Username: {{ user.username }}</p>
        <p>First Name: {{ user.first_name }}</p>
        <p>Last Name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>

        <h3>Profile Information</h3>

        <p>Date of birth: {{ consumer.date_of_birth }}</p>
        <p>Phone number: {{ consumer.phone_number }}</p>
        <p>Address: {{ consumer.address }}</p>
        {% if consumer %}
            {% if consumer.profile_image %}
                <img src="{{ consumer.profile_image.url }}" alt="Profile Image" style="max-width: 200px;">
            {% else %}
                <p>No profile image uploaded.</p>
            {% endif %}
        {% else %}
            <p>No additional profile information available.</p>
        {% endif %}
        
        <div style="margin-top: 20px; padding-bottom: 50px;">

            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
            <a href="{% url 'store' %}" class="btn btn-primary">Home</a>
            <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
        </div>
    </section>
{% endblock %}

