{% extends 'base.html' %}

{% load static %}

{% block title %}Prosffer{% endblock %}

{% block content %}
    <!-- Product Listing Section -->
    <div id="product-list">
        {% if products %}
        <div class="slogan">
        <h2>Proactively Surf for <span class="highlight">Best </span> Offers</h2>
        </div>
        <div class="product-comparison">
        {% for product in products %}
        <div class="product-card">
            <!-- Product Name in Header -->
            <h3>{{ product.name }}</h3>
        
            <!-- Product Details in Body -->
            <div class="product-details">
                <img src="{{ product.image }}" alt="{{ product.name }}" class="product-thumbnail" />
                <div class="details-scrollable">
                    <span class="store-name">{{ product.store }}</span>
                    <span class="product-desc">{{ product.description }}</span>
                    <span class="price">{{ product.price }} {{ product.currency }}</span>
                </div>
            </div>
        
            <!-- Footer Section with Buttons -->
            <div class="product-footer">
                <a href="{{ product.link }}" target="_blank" class="view-button">
                    <img src="{% static 'images/icons/view_icon.svg' %}" alt="View Icon" />
                    <span class="tooltip-text">See in Store</span>
                </a>
                <button
                    class="add-to-wishlist"
                    data-product-id="{{ product.id }}"
                    data-store-name="{{ product.store }}"
                    data-product-name="{{ product.name }}"
                    data-product-price="{{ product.price }}"
                    data-product-currency="{{ product.currency }}"
                    data-product-image="{{ product.image }}"
                >
                    <img src="{% static 'images/icons/add_icon.svg' %}" alt="Add Icon" />
                    <span class="tooltip-text">Add to Wishlist</span>
                </button>
            </div>
        </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
            <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1&category={{ request.GET.category|urlencode }}&product_name={{ request.GET.product_name|urlencode }}">
                    <img class="pagination-icon" src="{% static 'images/icons/first_icon.svg' %}" alt="First">
                </a>
                <a href="?page={{ page_obj.previous_page_number }}&category={{ request.GET.category|urlencode }}&product_name={{ request.GET.product_name|urlencode }}">
                    <img class="pagination-icon" src="{% static 'images/icons/previous_icon.svg' %}" alt="Previous">
                </a>
                {% endif %}
                
                <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&category={{ request.GET.category|urlencode }}&product_name={{ request.GET.product_name|urlencode }}">
                    <img class="pagination-icon" src="{% static 'images/icons/next_icon.svg' %}" alt="Next">
                </a>
                <a href="?page={{ page_obj.paginator.num_pages }}&category={{ request.GET.category|urlencode }}&product_name={{ request.GET.product_name|urlencode }}">
                    <img class="pagination-icon" src="{% static 'images/icons/last_icon.svg' %}" alt="Last">
                </a>
                {% endif %}
            </span>
            </div>
        {% endif %}
        {% else %}
        <p class="no-products"></p>
        {% endif %}
    </div>

{% endblock %}