{% extends 'base_wishlist.html' %}

{% load static %}

{% block title %}Wishlist{% endblock %}

{% block content %}

  <div class="wishlist-body-con">
    <!-- Wishlist Table show on the body  -->
    <div class="wishlist-full-header">
        {% if user.is_authenticated %}
        <p>Your wishlist, {{ user.first_name }}</p> 
        {% endif %}
        <a href="{% url 'wishlist-urls:download_wishlist' %}" class="custom-download-btn">Download to (PDF)</a>
    </div>
    
    <table id="wishlist-items">
        <thead>
            <tr>
                <th>Image</th>
                <th>Store</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="wishlist-items-container">
            <!-- Wishlist items will be dynamically added here -->
        </tbody>
    </table>
    
    <div class="wishlist-full-footer">
        <p>
            <strong>Total Price:</strong>
            <span id="total-price-display">0.00 €</span>
        </p>
        <button id="save-wishlist-btn" class="save-wishlist-btn">Save to Wishlist</button>
    </div>
  </div>

{% endblock %}